.nav
	position: absolute
	z-index: -1
	opacity: 0
	top: 0
	left: 0
	width: 100%
	min-height: 100vh
	background-color: rgba($black, .95)
	transition: .3s
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	flex-direction: column
	padding-bottom: 30px
	&.active
		z-index: 1000
		opacity: 1
		transition: .3s
	&__item
		padding: 12px
		font-size: 60px
		font-weight: 600
		@media #{$phone}
			font-size: 40px
		&.active
			.nav__link
				color: $corp-1
	&__link
		color: #ffffff
		&:hover
			color: $corp-1
	&__list
		display: flex
		flex-direction: column
		margin-bottom: 40px
	&__close
		position: absolute
		top: 20px
		right: 20px